{% extends "base.html" %}

{% block title %}大学生竞赛获奖{% endblock %}

{% block page_content %}
<div class="row content">
  <div class="modal-header">
    <h3>竞赛活动</h3>
  </div>
  <form method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="col-md-12">
      <div class="col-md-6">
          <h3>
          竞赛信息
          </h3>
          <hr />
          <div class="form-group">
            <label class="col-sm-3 control-label">竞赛项目</label>
            <div class="col-sm-9">
              <select class="form-control project" name="project">
                {% for project in projects %}
                <option value="{{project.id}}">{{project.project_name}}</option>
                {% endfor%}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">成果名称</label>
            <div class="col-sm-9">
              <input class="form-control" placeholder="有必须填写，没有可不填写" name="achievement_name"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">获奖级别</label>
            <div class="col-sm-9">
              <select class="form-control" name="winning_level">
                <option>国际级</option>
                <option>赛区级</option>
                <option>国家级</option>
                <option>省级</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">等级</label>
            <div class="col-sm-9">
              <select class="form-control" name="rate">
                <option>特等奖</option>
                <option>一等奖</option>
                <option>二等奖</option>
                <option>三等奖</option>
                <option>优秀奖</option>
                <option>金奖</option>
                <option>银奖</option>
                <option>铜奖</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">获奖时间</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form_datetime" name="winning_time" required></input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">颁奖单位</label>
            <div class="col-sm-9">
              <input class="form-control" required name="awards_unit"></input>
            </div>
          </div>
      </div>
      <div class="col-md-6 teachers">
          <input name="teacher_num" class="hidden teacher_num" value="1"></input>
          <h3>
        指导教师
        <button type="button" class="close del_teacher"><span class="glyphicon glyphicon-minus"></span></button>
        <button type="button" class="close add_teacher"><span class="glyphicon glyphicon-plus"></span></button>
          </h3>
          <hr />
        <div class="col-md-12 teacher" id="No_1">
          <h4>
          教师No. 1
          </h4>
          <hr />
          <div class="form-group">
            <label class="col-sm-3 control-label">单位</label>
            <div class="col-sm-9">
              <select class="form-control unit" name="No_1_unit" id="No_1_unit" required>
                <option value="" disabled selected>==选择单位==</option>
              </select>
            </div>            
          </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">教师姓名</label>
              <div class="col-sm-9">
                <select class="form-control tea" name="No_1_teacher" id="No_1_teacher" required>
                  <option value="" disabled selected>==选择教师==</option>
                </select>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-6">
        <h3>
        上传附件
        </h3>
        <hr />
        <div class="form-group">
          <label class="col-sm-3 control-label">获奖证书</label>
          <div class="col-sm-9">
            <input class="form-control" type="file" name="file" required> 
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3>
        确认提交
        </h3>
        <hr />
        <div class="col-sm-6">
          <input type="submit" class="btn btn-primary btn-block" value="提交"></input>
        </div>
        <div class="col-sm-6">
          <input type="reset" class="btn btn-success btn-block" value="重置"></input>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block link %}

<link href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css')}}" rel="stylesheet">

{{ super() }}

{% endblock %}

{% block script %}

{{ super() }}

<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/locales/bootstrap-datetimepicker.zh-CN.js') }}"></script>

<script>
$(".form_datetime").datetimepicker({
  format: 'yyyy-mm-dd',
  autoclose: true,
  minView: 'month',
  language: 'zh-CN',
  forceParse: true
  });
</script>

<script>
  function teacher_init(teacher_id) {
    $.getJSON("/teacher/_get",function(data){
      var opt = "";
      opt += "<option value=\"\" disabled selected>==选择单位==</option>";
      for (var i=0; i<data.unit_teachers.length; i++) {
        opt += "<option value=\"" + data.unit_teachers[i].id + "\">" + data.unit_teachers[i].unit_name + "</option>";
      }
      $("#No_" + teacher_id + "_unit").html(opt);

      $("#No_" + teacher_id + "_unit").change(function(){
        id = $(this).val();
        var opt = "";
        opt += "<option value=\"\" disabled selected>==选择教师==</option>";
        for (var i=0; i<data.unit_teachers.length; i++) {
          if (data.unit_teachers[i].id==id)
            for (var j=0; j<data.unit_teachers[i].teachers.length; j++)
              opt += "<option value=\"" + data.unit_teachers[i].teachers[j].teacher_id + "\">" + data.unit_teachers[i].teachers[j].teacher_name + "</option>";

        }
        $(this).parent().parent().next().find(".tea").html(opt);
      });

    });
  }

  function add_teacher() {
    $(".add_teacher").click(function(){
      var teacher_num = $(".teacher").length;
      if (teacher_num >= 2)
        alert("最多添加2个教师");
      else {
        $(".teachers").append(
          "<div class='col-md-12 teacher' id='No_" + (teacher_num + 1) + "'>"+
          "<h4>"+
          "教师No. " + (teacher_num + 1) +
          "</h4>"+
          "<hr />"+
          "<div class='form-group'>"+
          "<label class='col-sm-3 control-label'>单位</label>"+
          "<div class='col-sm-9'>"+
          "<select class='form-control unit' id='No_" + (teacher_num + 1) + "_unit' name='No_" + (teacher_num + 1) + "_unit'>"+
          "<option value='' disabled selected>==选择单位==</option>"+
          "</select>"+
          "</div>"+
          "</div>"+
          "<div class='form-group'>"+
          "<label class='col-sm-3 control-label'>教师姓名</label>"+
          "<div class='col-sm-9'>"+
          "<select class='form-control tea' id='No_" + (teacher_num + 1) + "_teacher' name='No_" + (teacher_num + 1) + "_teacher'>"+
          "<option value='' disabled selected>==选择教师==</option>"+
          "</select>"+
          "</div>"+
          "</div>"+
          "</div>"
          );
        teacher_init(teacher_num + 1);
        $(".tea").select2();
        $(".unit").select2();
      }
    });
  }

  function del_teacher() {
    $(".del_teacher").click(function() {
      var teacher_num = $(".teacher").length;
      if(teacher_num > 1) {
        $("#No_" + teacher_num).remove();
      }
      else
        alert("指导教师必须大于1个");
    }); 
  }

  function submit_teacher() {
    $(".submit").click(function() {
      var teacher_num = $(".teacher").length;
      $(".teacher_num").val(teacher_num);
    });
  }

  $(document).ready(function(){
    teacher_init(1);
    $(".project").select2();
    $(".tea").select2();
    $(".unit").select2();
    add_teacher();
    del_teacher();
    submit_teacher();
  });
</script>

{% endblock %}
