{% extends "/main/base.html" %}

{% block title %}大学生竞赛获奖{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>个人竞赛获奖</h1>
</div>
<div class="container">
  <form method="post" class="form-horizontal col-sm-8 col-sm-offset-2">
        <legend>
        竞赛信息
        </legend>
        <div class="form-group">
          <label class="col-sm-2 control-label">竞赛项目</label>
          <div class="col-sm-10">
            <select class="form-control">
              {% for projectName in competitionProjects %}
              <option>{{projectName.project_name}}</option>
              {% endfor%}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">成果名称</label>
          <div class="col-sm-10">
            <input class="form-control" placeholder="可不填写"></input>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">获奖级别</label>
          <div class="col-sm-10">
            <select class="form-control">
              <option>国际级</option>
              <option>赛区级</option>
              <option>国家级</option>
              <option>省级</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">等级</label>
          <div class="col-sm-10">
            <select class="form-control">
              <option>一等奖</option>
              <option>二等奖</option>
              <option>三等奖</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">获奖时间</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form_datetime"></input>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">颁奖单位</label>
          <div class="col-sm-10">
            <input class="form-control" required></input>
          </div>
        </div>
        <legend>
        参赛学生
        </legend>
        <div class="form-group">
          <label class="col-sm-2 control-label">学号</label>
          <div class="col-sm-10">
            <input class="form-control" required></input>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">姓名</label>
          <div class="col-sm-10">
            <input class="form-control" required></input>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">年级</label>
          <div class="col-sm-10">
            <select class="form-control" name="grade">
              {% for grade in grades %}
              <option>{{grade.grade_name}}</option>
              {% endfor%}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">学院</label>
          <div class="col-sm-10">
            <select class="form-control" name="acachemy" id="acachemy">
              {% for acachemy in acachemys %}
              <option value="{{acachemy.id}}">{{acachemy.unit_name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">专业</label>
          <div class="col-sm-10">
            <select class="form-control" name="major" id="major">
            </select>
          </div>
        </div>

        <legend>
        指导教师
        </legend>
        <div class="form-group">
          <label class="col-sm-2 control-label">教师1</label>
          <div class="col-sm-10 input-group">
            <div class="col-sm-6">
              <select class="form-control"></select>
            </div>
            <div class="col-sm-6">
              <select class="form-control"></select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">教师2</label>
          <div class="col-sm-10 input-group">
            <div class="col-sm-6">
              <select class="form-control"></select>
            </div>
            <div class="col-sm-6">
              <select class="form-control"></select>
            </div>
          </div>
        </div>

        <legend>
        上传附件
        </legend>
        <div class="form-group">
          <label class="col-sm-2 control-label">获奖证书</label>
          <div class="col-sm-10">
            <input class="form-control" type="file" > 
          </div>
        </div>
        <hr />
        <div class="col-sm-6">
              <input type="submit" class="btn btn-block" value="提交"></input>
        </div>
        <div class="col-sm-6">
              <input type="reset" class="btn btn-block" value="重置"></input>
        </div>
  </form>
</div>
{% endblock %}

{% block link %}
{{ super() }}
<link href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css')}}" rel="stylesheet">
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/locales/bootstrap-datetimepicker.zh-CN.js') }}"></script>
<script>  
$(".form_datetime").datetimepicker({
  format: 'yyyy-mm-dd',
  autoclose: true,
  minView: 'month',
  language: 'zh-CN',
  forceParse: true
  });
</script>
<script>
$(document).ready(function(){
  $("#acachemy").change(function(){ 
    acachemyId = $(this).val();
    $.getJSON("/admin/unit/department/_get",{
      Id: acachemyId
      },function(data){
        var opt = "";
        for (var i=0; i<data.majors.length; i++) {
          opt += "<option value=\"" + data.majors[i].id + "\">" + data.majors[i].major_name + "</option>"
        }
        $("#major").html(opt)
      });
  });
});
</script>
{% endblock %}
