{% extends "/main/base.html" %}

{% block title %}大学生竞赛获奖{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>个人竞赛获奖</h1>
</div>
<div class="col-md-12">
    <form method="post" class="form" role="form">
    <div class="container">
        <div class="col-md-4">
            <legend>
                竞赛信息
            </legend>

        <div class="col-md-4">
            <legend>
                参赛学生
            </legend>
        </div>

        <div class="col-md-4">
            <legend>
                指导老师
            </legend>
        </div>
    </div>
    <div class="container">
        <div class="col-md-6">
            <div class="form-group">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            </div>
        </div>
    </div>

    </form>
</div>
{% endblock %}

