{% extends "base.html" %}

{% block title %}大学生竞赛获奖{% endblock %}

{% block page_content %}
<div class="row content">
    <div class="modal-header">
      <h3>竞赛活动 <small>参赛学生</small></h3>
    </div>
    <form method="post" class="form-horizontal">
        <div class="col-md-12 students">
          <input name="student_num" class="hidden student_num" value="1"></input>
          <div class="col-md-6 student" id="1">

            <h3>
            学生No. 1
            </h3>
            <hr />
            <div class="form-group">
              <label class="col-sm-2 control-label">学号</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="No_1_id" required></input>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">姓名</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="No_1_name" required></input>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">年级</label>
              <div class="col-sm-10">
                <select class="form-control" name="No_1_grade" required>
                  <option value="" disabled selected>==选择年级==</option>
                  {% for grade in grades %}
                  <option value="{{grade.id}}">{{grade.grade_name}}</option>
                  {% endfor%}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">学院</label>
              <div class="col-sm-10">
                <select class="form-control acachemy" id="No_1_acachemy" name="No_1_acachemy" required>
                  <option value="" disabled selected>==选择学院==</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">专业</label>
              <div class="col-sm-10">
                <select class="form-control major" id="No_1_major" name="No_1_major" required>
                  <option value="" disabled selected>==选择专业==</option>
                </select>
              </div>
            </div>

          </div>
        </div>
        
        <div class="col-md-12">
          <div class="col-md-offset-9">
            <button class="btn btn-success add_student" type="button">添加学生</button>
            <button class="btn btn-danger del_student" type="button">删除学生</button>
            <button class="btn btn-primary submit" type="submit" value="提交">提交</button>
          </div>
        </div>
    </form>
</div>
{% endblock %}

{% block link %}

<link href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css')}}" rel="stylesheet">

{{ super() }}

{% endblock %}

{% block script %}

{{ super() }}

<script>
  function department_init(student_id) {
    $.getJSON("/department/_get",function(data){
      var opt = "";
      opt += "<option value=\"\" disabled selected>==选择学院==</option>";
      for (var i=0; i<data.departments.length; i++) {
        if (data.departments[i].acachemy.acachemy_id!=0)
        opt += "<option value=\"" + data.departments[i].id + "\">" + data.departments[i].acachemy.acachemy_name + "</option>";
      }
      $("#No_" + student_id + "_acachemy").html(opt);

      $("#No_" + student_id + "_acachemy").change(function(){
        id = $(this).val();
        var opt = "";
        opt += "<option value=\"\" disabled selected>==选择专业==</option>";
        for (var i=0; i<data.departments.length; i++) {
          if (data.departments[i].id==id)
            for (var j=0; j<data.departments[i].majors.length; j++)
              opt += "<option value=\"" + data.departments[i].majors[j].major_id + "\">" + data.departments[i].majors[j].major_name + "</option>";

        }
        $(this).parent().parent().next().find(".major").html(opt);
      });

    });
   }
  
  function add_student() {
    $(".add_student").click(function(){
      var student_num = $(".student").length;
      if(student_num >= 10)
        alert("最多添加10个学生");
      else {
      $(".students").append("<div class='col-md-6 student' id='" + (student_num + 1) + "'>"
          +"<h3>"
          +"学生No. " + (student_num + 1)
          +"</h3>"
          +"<hr />"
          +"<div class='form-group'>"
          +"<label class='col-sm-2 control-label'>学号</label>"
          +"<div class='col-sm-10'>"
          +"<input type='text' class='form-control' name='No_" + (student_num + 1) + "_id' required></input>"
          +"</div>"
          +"</div>"
          +"<div class='form-group'>"
          +"<label class='col-sm-2 control-label'>姓名</label>"
          +"<div class='col-sm-10'>"
          +"<input type='text' class='form-control' name='No_" + (student_num + 1) + "_name' required></input>"
          +"</div>"
          +"</div>"
          +"<div class='form-group'>"
          +"<label class='col-sm-2 control-label'>年级</label>"
          +"<div class='col-sm-10'>"
          +"<select class='form-control' name='No_" + (student_num + 1) + "_grade'>"
          +"<option value='' disabled selected>==选择年级==</option>"
          +"{% for grade in grades %}"
          +"<option value='{{grade.id}}'>{{grade.grade_name}}</option>"
          +"{% endfor%}"
          +"</select>"
          +"</div>"
          +"</div>"
          +"<div class='form-group'>"
          +"<label class='col-sm-2 control-label'>学院</label>"
          +"<div class='col-sm-10'>"
          +"<select class='form-control acachemy' id='No_" + (student_num + 1) + "_acachemy'" + " name='No_" + (student_num + 1) + "_acachemy'>"
          +"<option value='' disabled selected>==选择学院==</option>"
          +"</select>"
          +"</div>"
          +"</div>"
          +"<div class='form-group'>"
          +"<label class='col-sm-2 control-label'>专业</label>"
          +"<div class='col-sm-10'>"
          +"<select class='form-control major' id='No_" + (student_num + 1) + "_major'" + " name='No_" + (student_num + 1) + "_major'>"
          +"<option value='' disabled selected>==选择专业==</option>"
          +"</select>"
          +"</div>"
          +"</div>"
          +"</div>"
        );
        department_init(student_num + 1);
        $(".acachemy").select2();
        $(".major").select2();
      }
    });
  }

  function del_student() {
    $(".del_student").click(function() {
      var student_num = $(".student").length;
      if(student_num > 1) {
        $("#" + student_num).remove();
      }
      else
        alert("参赛学生必须大于1个");
    }); 
  }

  function submit_student() {
    $(".submit").click(function() {
      var student_num = $(".student").length;
      $(".student_num").val(student_num);
    });
  }

  $(document).ready(function(){
    department_init(1);
    $(".acachemy").select2();
    $(".major").select2();
    add_student();
    del_student();
    submit_student()
  });
</script>
{% endblock %}
