{% extends "/admin/base.html" %}

{% import "_macros.html" as macros %}
{% block title %}竞赛审核{% endblock %}

{% block page_content %}

  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="#">创新活动</a></li>
      <li><a href="/admin/competition">竞赛管理</a></li>
      <li class="active">竞赛审核</li>
    </ol>
  </div>
  
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          竞赛审核 <span class="label label-danger">未审核</span>
        </h3>
      </div>
      <div class="panel-body">
        <div class="col-md-8">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt> 竞赛项目 </dt>
              <dd> <a href="#" id="project" data-type="select2" data-value="{{competition.competitionproject.project_name}}">{{competition.competitionproject.project_name}}</a></dd>
              <dt> 成果名称 </dt>
              <dd> {{competition.achievement_name}} </dd>
              <dt> 获奖级别 </dt>
              <dd> <a href="#" id="winning_level" data-type="select" data-value="{{competition.winning_level}}">{{competition.winning_level}}</a></dd>
              <dt> 等级 </dt>
              <dd><a href="#" id="rate" data-type="select" data-value="{{competition.rate}}">{{competition.rate}}</a></dd>
              <dt> 获奖时间 </dt>
              <dd><a href="#" id="winning_time" data-type="combodate">{{competition.winning_time}}</a></dd>
              <dt> 颁奖单位 </dt> <dd><a href="#" id="awards_unit" data-type="text">{{competition.awards_unit}}</a></dd>

            </dl>
          </div>
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt> 学号 </dt>
              <dd>  </dd>
              <dt> 姓名 </dt>
              <dd>  </dd>
              <dt> 年级 </dt>
              <dd> </dd>
              <dt> 院系 </dt>
              <dd> </dd>

            </dl>
          </div>
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt> 指导教师1 </dt>
              <dd> </dd>
              <dt> 指导教师2 </dt>
              <dd> </dd>

            </dl>
          </div>
        </div>
        <div class="col-md-4">
          <a href="#" class="img-thumbnail">
            <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ1IiB5PSI3MCIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9nPjwvc3ZnPg==" alt="...">
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}

  {{ super() }}
  <script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/combodate.js') }}"></script>
  <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
  <script>
  $.fn.editable.defaults.mode = 'inline';
  $(function(){
    $('#project').editable({
      source: '/admin/competition/project/_get',
    });

    $('#winning_level').editable({
      source: [
        {id: '国际级', text: '国际级'},
        {id: '赛区级', text: '赛区级'},
        {id: '国家级', text: '国家级'},
        {id: '省级', text: '省级'}
      ],
    });

    $('#rate').editable({
        source: [
              {id: '一等奖', text: '一等奖'},
              {id: '二等奖', text: '二等奖'},
              {id: '三等奖', text: '三等奖'}
           ],
    });

    $('#winning_time').editable({
      format: 'YYYY-MM-DD',    
      viewformat: 'yyyy-mm-dd',    
      template: 'D / MMMM / YYYY',
      combodate: {
          minYear: 2000,
          maxYear: 2030,
          minuteStep: 1
        }
      });

    $('#awards_unit').editable({
      url: '/post',
      title: 'Enter username'
    });

  });

  </script>

{% endblock %}
