@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/*
 * Footer
 */

.footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  margin-top: 40px;
}
.footer p:last-child {
  margin-bottom: 0;
}

hr {
    margin-top:10px;
    margin-bottom:10px;
}
legend {
    margin-top:20px;
    margin-bottom:40px;
}

.select2-container .select2-selection--single {
    height:34px;
    border:1px solid #ccc;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left:13px;
    line-height:32px;
}
