<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/admin-base.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-table.min.css')}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="container">
      <div class="page-header">
        <h1>大学生创新活动管理系统 <small>Bate 1.0</small></h1>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="panel-group" aria-multiselectable="true" role="tablist" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="glyphicon glyphicon-home"></i> 首页
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="list-group">
                  <a class="list-group-item" href="/admin">欢迎</a>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="glyphicon glyphicon-user"></i> 用户管理
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="list-group">
                  <a class="list-group-item" id="teacher"  href="/admin/teacher">教师管理</a>
                  <a class="list-group-item" id="unit_admin"  href="/admin/unit_admin">单位管理员管理</a>
                  <a class="list-group-item" id="system_admin"  href="/admin/system_admin">管理员管理</a>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <i class="glyphicon glyphicon-info-sign"></i> 信息管理
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="list-group">
                  <a class="list-group-item" id="unit" href="/admin/unit">单位/院系信息</a>
                  <a class="list-group-item" id="grade" href="/admin/grade">年级信息</a>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <i class="glyphicon glyphicon-star"></i> 创新活动
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="list-group">
                  <a class="list-group-item" id="competition" href="/admin/competition">竞赛管理</a>
                  <a class="list-group-item" id="patent" href="/admin/patent">专利管理</a>
                  <a class="list-group-item" id="work" href="/admin/work">作品管理</a>
                  <a class="list-group-item" id="paper" href="/admin/paper">论文管理</a>
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <a href="/">返回首页</a>
          </div>
        </div>
        <div class="col-md-9">
            {% block page_content %}{% endblock %}
        </div>
      </div>
    </div>
    {% block script %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script-->
    <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js//locales/bootstrap-table-zh-CN.min.js') }}"></script>
    <script>
      var $table = $('#table'), $remove = $('#remove');
      $(function () {
        $table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', function () {
          $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
        });
        $remove.click(function () {
          var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
              return row.id
          });

          $table.bootstrapTable('remove', {
            field: 'id',
            values: ids
          });
          $remove.prop('disabled', true);
        });
      });
    </script>

    {% endblock %}
  </body>
</html>
