<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-table.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-editable.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/select2.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sb-admin-2.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  </head>
  <body>
    <div id="wrapper">
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">大学生创新活动管理后台</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href=""><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
              <li class="sidebar-search">
                <div class="input-group custom-search-form">
                  <input type="text" class="form-control" placeholder="Search...">
                  <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
                </div>
                <!-- /input-group -->
              </li>
              <li>
                <a href="#"><i class="fa fa-dashboard fa-fw"></i> 首页</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> 用户管理<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li>
                    <a href="/admin/user/teacher">教师管理</a>
                  </li>
                  <li>
                    <a href="/admin/user/unit_admin">院系管理员管理</a>
                  </li>
                  <li>
                    <a href="/admin/user/system_admin">系统管理员管理</a>
                  </li>
                </ul>
                <!-- /.nav-second-level -->
              </li>
              <li>
                <a href="#"><i class="fa fa-table fa-fw"></i> 信息管理<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li>
                    <a href="/admin/department">院系信息</a>
                  </li>
                  <li>
                    <a href="/admin/grade">年级信息</a>
                  </li>
                </ul>
                <!-- /.nav-second-level -->
              </li>
              <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> 创新活动<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li>
                    <a href="/admin/competition">竞赛管理 <span class="badge">3</span></a>
                  </li>
                  <li>
                    <a href="/admin/patent">专利管理</a>
                  </li>
                  <li>
                    <a href="/admin/work">作品管理</a>
                  </li>
                  <li>
                    <a href="/admin/paper">论文管理</a>
                  </li>
                </ul>
                <!-- /.nav-second-level -->
              </li>
            </ul>
          </div>
          <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
      </nav>
      <div id="page-wrapper">
        <div class="row">
          <div class="col-md-12" style="margin-top:15px">
            {% block page_content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
    {% block script %}
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
    <[endif]-->
    <script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table-editable.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/locales/bootstrap-table-zh-CN.min.js') }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ url_for('static', filename='bower_components/metisMenu/dist/metisMenu.min.js')}}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/sb-admin-2.js')}}"></script>
    {% endblock %}
  </body>
</html>
