{% extends "/admin/base.html" %}

{% import "_macros.html" as macros %}
{% block title %}竞赛管理{% endblock %}

{% block page_content %}

  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="#">创新活动</a></li>
      <li><a href="#">竞赛管理</a></li>
      <li class="active">竞赛审核</li>
    </ol>
  </div>
  
  <div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a>竞赛审核</a></li>
      <li><a href="/admin/competition/project">竞赛项目</a></li>
    </ul>
    <button id="remove" class="btn btn-danger" disabled="">
      <i class="glyphicon glyphicon-trash"></i>
    </button>
    <table id="table" class="table table-hover table-striped" data-toggle="table" data-sort-order="desc" data-search="true" data-toolbar="#remove" data-pagination="true" data-query-params="queryParams" data-page-size="10" data-show-pagination-switch="true">
      <thead>
        <tr>
          <th data-field="state" data-checkbox="true"></th>
          <th data-field="id" data-sortable="true">#</th>
          <th data-field="name" data-sortable="true">项目名称</th>
          <th data-field="participant" data-sortable="true">参赛学生</th>
          <th data-field="level" data-sortable="true">获奖级别</th>
          <th data-field="time" class="col-xs-2" data-sortable="true">获奖时间</th>
          <th data-field="status" data-sortable="true">状态</th>
        </tr>
      </thead>
      <tbody>
      {% for competition in competitions %}
        <tr id="{{competition.id}}">
          <td></td>
          <td>{{competition.id}}</td>
          <td><a href="{{url_for('.competitionShow',id=competition.id)}}">{{competition.competitionproject.project_name}}</a></td>
          <td>{{competition.winning_level}}</td>
          <td>{{competition.winning_level}}</td>
          <td>{{competition.winning_time}}</td>
          <td>未审核</td>
        </tr>
      {% endfor%}
      </tbody>
    </table>
  </div>

{% endblock %}

{% block script %}

  {{ super() }}
  <script>
    var $table = $('#table'),
        $remove = $('#remove');
    $(function () {
      $table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', function () {
        $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
      });

      $remove.click(function () {
        var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
          return row.id
        });
        $.getJSON("/admin/competition/_delete",{ ids: ids.join(',')}, function(data) {
          if (data.status) {
            $table.bootstrapTable('remove', {
              field: 'id',
              values: ids
            });
            $remove.prop('disabled', true);
          }
        });
      });
    });
  </script>

{% endblock %}
