{% extends "/admin/base.html" %}

{% block title %}年级信息 | 信息管理{% endblock %}

{% block page_content %}

  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="#">信息管理</a></li>
      <li class="active">年级信息</li>
    </ol>
  </div>

  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li class="active"><a>年级信息</a></li>
      <li class="pull-right" data-toggle="modal" data-target="#updateGrade"><a><span class="glyphicon glyphicon-open"></span> 更新年级</a></li>
    </ul>
    <button id="remove" class="btn btn-danger" disabled="">
      <i class="glyphicon glyphicon-remove"></i> 删除
    </button>
    <table id="table" class="table table-hover table-striped" data-toggle="table" data-sort-order="desc" data-search="true" data-click-to-select="true" data-toolbar="#remove" data-pagination="true" data-query-params="queryParams" data-page-size="10" data-show-pagination-switch="true">
      <thead>
        <tr>
          <th data-field="state" data-checkbox="true"></th>
          <th>#</th>
          <th>名称</th>
          <th class="col-xs-1" data-field="action">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for grade in grades_data %}
          <tr id="grade{{grade.id}}">
            <td></td>
            <td>{{grade.id}}</td>
            <td>{{grade.grade_name}}</td>
            <td>
              <a class="btn-xs ml10"><i class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#gradeUpdateModal{{grade.id}}"></i></a>
              <a class="btn-xs ml10"><i class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#gradeDeleteModal{{grade.id}}"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>  
<!-- modal -->

  {% for grade in grades_data %}
    
    <div class="modal fade" id="gradeUpdateModal{{grade.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">修改学院名称</h4>
          </div>
          <div class="modal-body">
            <p class="hidden">{{grade.id}}</p>
            <div class="form-group">
              <input id="updateInput" placeholder="{{grade.grade_name}}" type="text" class="form-control">
            </div>
            <button id="updateButton" type="button" class="btn btn-success btn-block" disabled="disabled" data-dismiss="modal">修改</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="gradeDeleteModal{{grade.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">修改学院名称</h4>
          </div>
          <div class="modal-body">
            <p class="hidden">{{grade.id}}</p>
            <div class="form-group">
              <input id="deleteInput" placeholder="{{grade.grade_name}}" type="text" class="form-control grade">
            </div>
            <button id="deleteButton" type="button" class="btn btn-danger btn-block" disabled="disabled" data-dismiss="modal">删除</button>
          </div>
        </div>
      </div>
    </div>

  {% endfor %}

<!-- endModal -->

{% endblock %}

{% block script %}

{{ super() }}

<script>
  $(document).ready(function(){
    
    $("input#updateInput").keyup(function(){
      var newName = $(this).val();
      if ( newName != "" ){
        $(this).parent().next().removeAttr("disabled");
      } else {
        $(this).parent().next().attr("disabled", "disabled");
      }
    });

    $("button#updateButton").click(function(){
      var gradeId = $(this).parent().children("p").text();
      var newName = $(this).prev().children().val();
      $this = $(this);
      $.getJSON("/admin/grade/_update",{
        Id: gradeId,
        Name: newName
      },function(data){
        if ( data.status==2){
          var obj = document.getElementById("grade" + gradeId);
          $(obj).children().eq(1).text(newName);
          $this.prev().children().attr("placeholder", newName);
          $("input#deleteInput.grade").attr("placeholder", newName);
        } else {
          alert("None");
        }
      });
    });

    $("input#deleteInput").keyup(function(){
      var gradeName = $(this).attr("placeholder");
      var name = $(this).val();
      if ( gradeName == name ){
        $(this).parent().next().removeAttr("disabled");
      }
      else {
        $(this).parent().next().attr("disabled", "disabled");
      }
    });

    $("button#deleteButton").click(function(){
      var gradeId = $(this).prev().prev().html();
      $this = $(this);
        $.getJSON("/admin/grade/_delete",{
          Id: gradeId
        },function(data){
          if (data.status==2){
            var obj = document.getElementById("grade" + gradeId);
            $(obj).remove();
          }
          else {
            alert("操作失败")
          }
        });
    });
  });

</script>

{% endblock %}
