{% extends "/admin/base.html" %}

{% block title %}系统管理员管理 | 用户管理{% endblock %}

{% block page_content %}

  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/admin/user">用户管理</a></li>
      <li class="active">系统管理员管理</li>
    </ol>
  </div>

  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li class="active"><a>系统管理员管理</a></li>
    </ul>
    <button id="remove" class="btn btn-danger" disabled="">
      <i class="glyphicon glyphicon-trash"></i> 
    </button>
    <table id="table" class="table table-hover table-striped" data-toggle="table" data-sort-order="desc" data-search="true" data-toolbar="#remove" data-pagination="true" data-page-size="10" data-show-pagination-switch="true">
      <thead>
        <tr>
          <th data-field="state" data-checkbox="true"></th>
          <th class="col-xs-1">#</th>
          <th class="col-xs-2" data-field="name" data-sortable="true">用户名</th>
          <th class="col-xs-2" data-field="nick_name" data-sortable="true">姓名</th>
          <th data-field="unit" data-sortable="true">单位</th>
          <th class="col-xs-1" data-field="action">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for admin in admins %}
        <tr id="admin{{admin.id}}">
          <td></td>
          <td>{{ admin.id }}</td>
          <td>{{ admin.user_name }}</td>
          <td>{{ admin.nick_name }}</td>
          <td>{{ admin.unit.unit_name }}</td>
          <td>
              <a class="btn-xs ml10"><i class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#updateModal{{admin.id}}"></i></a>
              <a class="btn-xs ml10"><i class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#deleteModal{{admin.id}}"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- modal -->

    {% for admin in admins %}

    <!-- loop -->

      <!-- updateModal -->

      <div class="modal fade" id="updateModal{{admin.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">修改管理员名称</h4>
            </div>
            <div class="modal-body">
              <p class="hidden">{{admin.id}}</p>
              <div class="form-group">
                <input id="updateInput" placeholder="{{admin.nick_name}}" type="text" class="form-control">
              </div>
              <button id="updateButton" type="button" class="btn btn-success btn-block" disabled="disabled" data-dismiss="modal">修改</button>
            </div>
          </div>
        </div>
      </div>

      <!-- endUpdateModal -->

      <!-- deleteModal -->

      <div class="modal fade" id="deleteModal{{admin.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">删除教师</h4>
            </div>
            <div class="modal-body">
              <p class="hidden">{{admin.id}}</p>
              <div class="form-group">
                <input id="deleteInput" placeholder="{{admin.nick_name}}" type="text" class="form-control deleteInput{{admin.id}}">
              </div>
              <button id="deleteButton" type="button" class="btn btn-danger btn-block" disabled="disabled" data-dismiss="modal">删除</button>
            </div>
          </div>
        </div>
      </div>

      <!-- endDeleteModal -->

    {% endfor %}

    <!-- endLoop -->

  <!-- endModal -->

{% endblock %}

