{% extends "/admin/base.html" %}

{% block title %}院系管理员管理 | 用户管理{% endblock %}

{% block page_content %}

  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/admin/user">用户管理</a></li>
      <li class="active">院系管理员管理</li>
    </ol>
  </div>
  
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li class="active"><a>院系管理员管理</a></li>
    </ul>
    <button id="remove" class="btn btn-danger" disabled="">
      <i class="glyphicon glyphicon-trash"></i> 
    </button>
    <table id="table" class="table table-hover table-striped" data-toggle="table" data-sort-order="desc" data-search="true" data-toolbar="#remove" data-pagination="true" data-page-size="10" data-show-pagination-switch="true">
      <thead>
        <tr>
          <th data-field="state" data-checkbox="true"></th>
          <th class="col-xs-2">#</th>
          <th class="col-xs-2" data-field="name" data-sortable="true">姓名</th>
          <th data-field="unit" data-sortable="true">单位</th>
          <th class="col-xs-1" data-field="action">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for teacher in teachers %}
        <tr id="teacher{{teacher.user_id}}">
            <td></td>
            <td>{{ teacher.user_id }}</td>
            <td>{{ teacher.user_name }}</td>
            <td>{{ teacher.unit.unit_name }}</td>
            <td>
                <a class="btn-xs ml10"><i class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#updateModal{{teacher.user_id}}"></i></a>
                <a class="btn-xs ml10"><i class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#deleteModal{{teacher.user_id}}"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
{% endblock %}

