{% extends "/admin/base.html" %}

{% block title %}院系信息{% endblock %}

{% block page_content %}

  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="#">信息管理</a></li>
      <li class="active">院系信息</li>
    </ol>
  </div>
  
  <div class="col-md-12">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert" >
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{ category }} !</strong> {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <ul class="nav nav-tabs">
      <li class="active"><a>院系信息</a></li>
      <li class="pull-right" data-toggle="modal" data-target="#updateDepartment"><a><span class="glyphicon glyphicon-open"></span> 更新院系</a></li>
    </ul>
    <button id="remove" class="btn btn-danger" disabled="">
      <i class="glyphicon glyphicon-trash"></i>
    </button>
    <table 
      id="table" 
      class="table table-hover table-striped" 
      data-toggle="table" 
      data-toolbar="#remove">
      <thead>
        <tr>
          <th data-field="state" data-checkbox="true"></th>
          <th data-field="id" class="col-xs-1">#</th>
          <th data-field="name" data-editable="true">单位/院系</th>
          <th data-field="is_acachemy" class="col-xs-2">是否学院</th>
          <th data-field="action" class="col-xs-1">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for unit in units %}
          <tr class="unit" id="{{unit.id}}">
            <td></td>
            <td>{{ unit.id }}</td>
            <td>{{ unit.unit_name }}</td>
            <td>{% if unit.is_acachemy == 1 %}是{% else %}否{% endif %}</td>
            <td>
              <a class="btn-xs ml10"><i class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#unitUpdateModal{{unit.id}}"></i></a>
            </td>
          </tr>
          {% for major in unit.majors %}
            <tr class="success unit_{{unit.id}}" id="{{major.id}}">
              <td></td>
              <td>{{ major.id }}</td>
              <td>----{{ major.major_name }}</td>
              <td></td>
              <td>
                <a class="btn-xs ml10"><i class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#majorUpdateModal{{major.id}}"></i></a>
              </td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- modal -->

    <div class="modal fade" id="updateDepartment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">更新院系</h4>
          </div>
          <form class="form" method="post" action="/admin/unit/department/_insert" enctype="multipart/form-data">
            <div class="modal-body">
                <div class="form-group">
                  <label class="control-label">上传文件</label>
                  <input class="form-control" type="file" name="file"></input>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="submit" class="btn btn-primary">提交</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    {% for unit in units %}
      
      <!-- unitUpdateModal -->

      <div class="modal fade" id="unitUpdateModal{{unit.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">修改学院名称</h4>
            </div>
            <div class="modal-body">
              <p class="hidden">{{unit.id}}</p>
              <div class="form-group">
                <input id="updateInput" placeholder="{{unit.unit_name}}" type="text" class="form-control unit">
              </div>
              <button id="updateButton" type="button" class="btn btn-success btn-block unit" disabled="disabled" data-dismiss="modal">修改</button>
            </div>
          </div>
        </div>
      </div>

      <!-- endUnitUpdateModal -->  <!-- acDeleteModal -->

      <!-- loopMajors -->
      
      {% for major in unit.majors %}

        <!-- majorUpdateModal -->
        
        <div class="modal fade" id="majorUpdateModal{{major.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="majorUpdateModalLabel">修改专业名称</h4>
              </div>
              <div class="modal-body">
                <p class="hidden">{{major.id}}</p>
                <div class="form-group">
                  <input id="updateInput" placeholder="{{major.major_name}}" type="text" class="form-control major">
                </div>
                <button id="updateButton" type="button" class="btn btn-success btn-block major" disabled="disabled" data-dismiss="modal">修改</button>
              </div>
            </div>
          </div>
        </div>

        <!-- endMajorUpdateModal -->

      {% endfor %}

      <!-- endLoopMajors -->

    {% endfor %}

  <!-- endModal -->

{% endblock %}

{% block script %}

  {{ super() }}

  <script>
    $(document).ready(function(){

      $("input#updateInput").keyup(function(){
        var name = $(this).val();
        if ( name != "" ){
          $(this).parent().next().removeAttr("disabled");
        } else {
          $(this).parent().next().attr("disabled", "disabled");
        }
      });

      $("button#updateButton").click(function(){
        var isUnit = false;
        if ($(this).hasClass("unit")) {
          isUnit = true;
        }
        var id = $(this).parent().children("p:eq(0)").text();
        var newName = $(this).prev().children().val();
        $this = $(this);
        if ( isUnit == true ){
          $.getJSON("/admin/unit/_update",{
            Id: id,
            Name: newName
          },function(data){
            if ( data.status==2){
              var obj = document.getElementById("unit" + id);
              $(obj).children(":eq(1)").text(newName);
              $this.prev().children().attr("placeholder", newName);
              $("input#deleteInput.unit").attr("placeholder", newName);
            } else {
              alert("None");
            }
          });
        } else {
          $.getJSON("/admin/major/_update",{
              Id: id,
              Name: newName
          },function(data){
            if ( data.status==2){
              var obj = document.getElementById("major" + id);
              $(obj).children(":eq(1)").text("----" + newName);
              $this.prev().children().attr("placeholder", newName);
              $("input#deleteInput.major").attr("placeholder", newName);
            } else {
              alert("None");
            }
          });
        }
      });

    });
  </script>
  
  <script>
    $(document).ready(function(){
      $('tr.unit').click(function(){  
        $(this)
          .siblings('.unit_'+this.id).toggle();
      }).click();
    });
  </script>

  <script>
    var $table = $('#table'),
        $remove = $('#remove');
    $(function () {
      $table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', function () {
        $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
      });

      $remove.click(function () {
        var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
          return row.id
        });
        $.getJSON("/admin/unit/department/_delete",{ ids: ids.join(',')}, function(data) {
          if (data.status) {
            $table.bootstrapTable('remove', {
              field: 'id',
              values: ids
            });
            $remove.prop('disabled', true);
          }
        });
      });
    });
  </script>

  <script>
    $(document).ready(function() {

      $('.editable').on('shown', function(e, editable) {
        $(this).editable('option', 'validate', function(value) { 
          if($.trim(value) == '') {
            return 'This field is required';
          }
        });
      });

      $('.editable').on('save',function(e, params){
        var id = $(this).parents('tr').attr('id');

        $(this).editable('submit', { 
          ajaxOptions: {
            url: '/admin/unit/department/_update',
            method: 'GET',
            data: { id: id, newName: params.newValue }
          },
          success: function(data) {
            if(data) {
            }
          }
        });
      });

    });
  </script>

{% endblock %}
