{% extends "admin-base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}大学生创新活动管理后台{% endblock %}

{% block admin_page %}
<div class="well">
    <ul class="nav nav-pills">
        <li class="active"><a href="#add" data-toggle="tab">添加教师</a><li>
        <li><a href="#del" data-toggle="tab">删除教师</a><li>
        <li><a href="#pd" data-toggle="tab">修改信息</a><li>
    </ul>
</div>
    <div class="tab-content">
        <div class="well col-md-4 tab-pane fade active in" id="add">
            {{ wtf.quick_form(add_form) }}
        </div>
        <div class="well col-md-4 tab-pane fade" id="del">
            {{ wtf.quick_form(del_form) }}
        </div>
        <div class="well col-md-4 tab-pane fade" id="pd">
            {{ wtf.quick_form(re_form) }}
        </div>
    </div>

{% endblock %}

