{% extends "bootstrap/base.html" %} 

{% block title %}{% endblock %}

{% block navbar %}
<div class="navbar navbar-default " role="tablist">
    <div class="container">
        <a class="navbar-brand" href="/">大学生创新活动</a>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/competition">竞赛活动</a></li>
                <li><a href="/patent">发表专利</a></li>
                <li><a href="/works">发表作品</a></li>
                <li><a href="/paper">发表论文</a></li>
                <li><a href="/admin">后台管理</a></li>
            </ul>
            <ul class="nav navbar-bav navbar-right">
                {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for('logout') }}">注销</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">登录</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}


<div class="container">
  {% block page_content %}{% endblock %}
</div>


{% endblock %}
