{% extends "bootstrap/base.html" %} 

{% block title %}{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="tablist">
    <div class="container">
        <div class="b=navbat-header">
            <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">大学生创新活动</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/competition">竞赛录入</a></li>
                <li><a href="/patent">发表专利</a></li>
                <li><a href="/works">发表作品</a></li>
                <li><a href="/paper">发表论文</a></li>
            </ul>
            <ul class="nav navbar-bav navbar-right">
                {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Sign In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}


<div class="container">
  {% block page_content %}{% endblock %}
</div>


{% endblock %}
