{% extends "base.html" %}

{% block title %}大学生创新活动{% endblock %}

{% block page_content %}
<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
        <i class="glyphicon glyphicon-duplicate"></i> 新闻
    </div>
    <div class="panel-body">
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      {% if current_user.is_authenticated() %}
      <div>
        {% if current_user.role.role_name == "管理员" %}
          <a href="/admin">后台管理</a>
        {% endif %}
      </div>
      {% else %}
      <form method="post" action="/login" class="form-signin">
        <h3 class="form-signin-heading">用户登录</h3>
        <input type="text" class="form-control" name="username" placeholder="用户名" required="">
        <input type="password" class="form-control" name="password" placeholder="密码" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember_me"> 记住我</input>
          </label>
        </div>
        <button class="btn btn-primary btn-block" type="submit">登录</button>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
