{% from "_form.html" import render_field %}
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}大学生竞赛获奖{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>个人竞赛获奖</h1>
</div>
<div class="col-md-12">
    <form method="post" class="form" role="form">
    {{ form.hidden_tag() }}
    <div class="container">
        <div class="col-md-4">
            <legend>
                竞赛信息
            </legend>
            {{ render_field(form.competitions_name,class="form-control") }}
            {{ render_field(form.project_name,class="form-control", placeholder="可不填写") }}
            {{ render_field(form.competition_level,class="form-control") }}
            {{ render_field(form.competition_class,class="form-control") }}
            {{ render_field(form.competition_date,class="form-control", placeholder="格式：xxxx年xx月") }}
            {{ render_field(form.competition_org,class="form-control", placeholder="参照奖状") }}
        </div>

        <div class="col-md-4">
            <legend>
                参赛学生
            </legend>
            {{ render_field(form.student_id,class="form-control") }}
            {{ render_field(form.student_name,class="form-control") }}
            {{ render_field(form.acachemys,class="form-control") }}
            {{ render_field(form.student_major,class="form-control",placeholder="填写专业全称") }}
            {{ render_field(form.student_class,class="form-control",placeholder="格式：xxxx班") }}
        </div>

        <div class="col-md-4">
            <legend>
                指导老师
            </legend>
            {{ render_field(form.teachers1, class="form-control") }}
            {{ render_field(form.teachers2, class="form-control") }}
        </div>
    </div>
    <div class="container">
        <div class="col-md-6">
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <a href="{{ url_for("individual_com") }} "class="btn btn-primary">重置</a>
            </div>
        </div>
    </div>

    </form>
</div>
{% endblock %}

